NODE_ENV=Choose your environment (development, production, etc.)

SERVER_PORT=Write your server port here (suggested: 3001)
DATABASE_URL=Write your database URL here

JWT_SECRET=Write your JWT secret here (suggested: a long random string)
JWT_EXPIRES_IN=Write your JWT expiration time here (suggested: 1d for 1 day)